.about-intro {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 108px;
    text-align: center;
    position: relative;
    color: var(--color-primary-white);
}

.about-intro h1 {
    margin-bottom: 16px;
}

.about-intro p {
 font-weight: 600;
}

.pattern-about-1 img{
    position: absolute;
    right: 0;
    transform: translateX(60%);
    margin-top: 8px;
}

.directors-container {
 padding: 88px 0 116px 0;
 position: relative;
 overflow: hidden;
 background-color: var(--color-secondary-jungle-green);
 display: flex;
 flex-direction: column;
}

.directors-container .pattern-about-2 img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.directors-container h2 {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    color: var(--color-primary-white);
    margin-bottom: 48px;
}

.director-card {
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary-state-green);
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 52px;
    border-radius: 8px;
}

.director-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}
.director-wrapper img {
    border-radius: 50%;
    margin-bottom: 16px;
    width: 40%;
    border: 2px solid var(--color-primary-white);
}

.director-wrapper h3 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: var(--color-secondary-rapture-blue);
    margin-bottom: 8px;
}

.director-wrapper span {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: var(--color-primary-white);
    font-weight: 500;
    font-style: italic;
    margin-bottom: 56px;
}

.add-icon {
   width: 56px;
   height: 56px;
   background-color: var(--color-primary-light-coral);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position:absolute;
   bottom: 0px;
   transform: translateY(50%);
}

.director-card.quote-card {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    background-color: var(--color-secondary-dark-green);
}

.director-wrapper p{
    color: var(--color-primary-white);
    font-weight: 600;
    width: 80%;
    text-align: center;
}


.director-card .links {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 56px;

}

.close-icon {
   width: 56px;
   height: 56px;
   background-color: var(--color-secondary-rapture-blue);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position:absolute;
   bottom: 0px;
   transform: translateY(50%);
}

.directors-container .pattern-about-3 img {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* clients */
.clients {
    background-color: var(--color-secondary-state-green);
    position: relative;
    overflow: hidden;
    padding: 88px 0;
}

.clients .pattern-about-4 img{
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}

.clients h2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-primary-white);
}

.clients-wrapper {
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}


.logo img{
    width: 50%;
    margin: 0 auto;
}

/* Tablet*/
@media (min-width: 768px) {
    /* intro section */
    .about-intro {
        padding: 112px 0;
    }

    .about-intro p {
        width: 65%;
        margin: 0 auto;
    }
    
    .pattern-about-1 img {
        transform: translate(70%, -50%);
    }

    /* directors section */

    .director-card {
        margin-bottom:  0;
        width: 100%;
    }
    
    .directors-container .pattern-about-2 img {
         transform: translate(-50%, 0);
     }

    .directors-card-wrapper {
        width: 80%;
        margin: 0 auto;
        display: grid;
        column-gap: 12px;
        row-gap: 76px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
            "a b"
            "c d"
            "swappedLeft swappedRight"
         ;
    }

    /* shift the order of the last row */
    .item-5 {
        grid-area: swappedRight;
    }

   .item-6 {
    grid-area: swappedLeft;
   }

   /* clients container */

   .clients {
    padding: 100px 0;
   }

   .clients .pattern-about-4 img{
  
    transform: translate(0,-50%);
    }

   .clients-wrapper {
    flex-direction: row;
    margin-top: 48px;
    width: 90%;
   }

  
   .logo img {
    width: 100%;
   }
    
}