/* header styling */
header {
    background-color: var(--color-primary-green);
    padding-top: 48px;
    overflow: hidden;
}

/* navbar styling */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.nav-list img{
    width: 80%;
}
.contact-btn {
    display: none;
    appearance: none;
    background-color: var(--color-primary-green);
    color: var(--color-primary-white);
    border: 2px solid var(--color-primary-white);
    padding:  8px 32px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover ,
.scroll-btn .contact-btn:hover{
    color: var(--color-secondary-jungle-green);
    background-color: var(--color-primary-white);
}
/* hide large screen navbar */
.large-screen-nav {
    display: none;
}

/* scroll menu */
.menu-scroll {
    height: 100dvh;
    width: 65%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    padding-top: 48px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    background-color: var(--color-secondary-police-blue);
}

.menu-slide-in {
     transform: translateX(0);
}
.close-btn {
    margin-left: auto;
    width: fit-content;
    padding-right: 24px;
    cursor: pointer;
}
.scroll-btn .contact-btn {
    display: block;
    background-color: var(--color-secondary-police-blue);
}

.scroll-nav {
    margin-top: 40px;
    margin-left: 48px;
}

.nav-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-bottom: 33px;
}

.nav-wrapper  li{
    font-size: 18px;
    font-weight: 600;
     line-height: 28px;
    letter-spacing: 0px;
    color: var(--color-primary-white);
    transition: color 0.3s ease;
    }

.nav-wrapper li:hover {
    color: var(--color-primary-light-coral);
    cursor: pointer;
}

.mobile-menu {
    cursor: pointer;
}

.pattern-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
}
/* start container */
.start-container {
    background-color: var(--color-primary-light-coral);
    padding: 84px 0;
    position: relative;
    overflow: hidden;
}

.start-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.start-container h2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--color-primary-white);
    text-align: center;
    color: var(--color-secondary-state-green);
    width: 70%;
}



.start-container .pattern-bg-6 img {
    position: absolute;
    bottom: 0;
    transform: translateY(15%);
}

.start-btn {
    width: fit-content;
    appearance: none;
    background-color: var(--color-primary-light-coral);
    color: var(--color-secondary-state-green);
    border: 2px solid var(--color-secondary-state-green);
    padding:  8px 32px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    cursor: pointer;
    transition:  background-color 0.3s ease, color 0.3s ease;
}

.start-btn:hover {
    border: 2px solid var(--color-secondary-jungle-green);
    background-color: var(--color-secondary-jungle-green);
    color: var(--color-primary-white);
}
/* footer  */
footer {
    background-color: var(--color-secondary-dark-green);
    padding: 64px 0;
    color: var(--color-primary-white);
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 600;
}

.footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav ul {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    justify-content: center;
}

.footer-nav li{
    font-size: 15px;
    font-weight: 600;
     line-height: 28px;
    letter-spacing: 0px;
    color: var(--color-primary-white);
    transition: color 0.3s ease;
    }


.footer-nav li:hover {
    color: var(--color-primary-light-coral);
    cursor: pointer;
}
.footer-nav img{
    width: 70%;
    margin: 0 auto;
}

.address-container {
    text-align: center;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-links {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-wrapper p {
    opacity: 60%;
}

        /* TABLETS*/
@media (min-width: 768px) {
  /* header */
    header {
        padding-top: 64px;
    }
    
  /* navbar */

    .nav-list {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .large-screen-nav {
        display: flex;
    }

    .large-screen-nav ul {
        display: flex;
        gap: 40px;
     
    }

    .large-screen-nav li,
    .footer-nav li {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        color: var(--color-primary-white);
        transition: color 0.3s ease;
    }

    .large-screen-nav li:hover ,
    .footer-nav li:hover {
        color: var(--color-primary-light-coral);
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
    }
    
    .contact-btn {
        display: block;
    }
   
    /* Start container */
    .start-wrapper {
       flex-direction: row;
       justify-content: space-between;
       width: 70%;
    }

    .start-container h2 {
        width: fit-content;
    }



    /* footer */

    footer {
        padding: 56px 0;
    }
    .footer-wrapper-one {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
   
    .footer-wrapper-one img {
        margin: 0;
    }
    .footer-nav ul{
         justify-content: flex-start;
    }

    .address-container {
        margin: 0;
        text-align: right;
    }
   
    .footer-wrapper-two {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 32px;
    }

    .social-links {
        margin: 0;
    }

}

/* laptops */
@media (min-width: 1024px) {
    /* start container */
    .start-container {
        padding: 78px 0;
    }
    .start-wrapper {
        width: 80%;
    }
    .start-container h2 {
    font-size: 48px;
    line-height: 48px;
    }
/* footer */
.footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-wrapper-one {
    width: 50%;
    justify-content: flex-start;
    gap: 125px;
}

.footer-nav img {
    width: 100%;
}
.address-container {
    text-align: left;
    gap: 0;
}
.footer-wrapper-two {
    margin: 0;
    flex-direction: column;
    width: 40%;
    gap: 51px;
    align-items: flex-end;
}
}

@media (min-width: 1280px) {
    .header-nav,
    .footer-wrapper {
        width: min(80%, 1110px);
    }

    .start-wrapper {
        width: min(70%, 917px);
    }

    .start-container .pattern-bg-6 img {
         bottom: 0;
         transform: translateY(0);
    }
}