
/* intro container  */
.intro-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    color: var(--color-primary-white);
}

.intro-container h1 {
    width: min(70%, 240px);
    margin: 0 auto;
    margin-bottom: 18px;

}

.intro-container span {
    color: var(--color-primary-light-coral);
}

.intro-container p {
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
}

.header-bg-pattern {
    width: 100%;
    margin-top: 97px;
}

.header-bg-pattern img {
    width: 95%;
    margin: 0 auto;
}

/* cards container section */
.cards-container {
    background-color: var(--color-secondary-state-green);
    position: relative;
    overflow: hidden;
    padding-bottom: 64px;
}

.pattern-bg-3 {
    position: absolute;
    right: 0;
    transform: translateX(50%);
}

.card-heading {
    width: 90%;
    margin: 0 auto;
    padding-top: 64px;
    margin-bottom: 56px;
}

.line-deco {
    width: 50px;
    height: 4px;
    background-color: var(--color-primary-light-coral);
}

.card-heading h2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--color-primary-white);
    margin-top: 32px;
    width:240px;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.card {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    margin-bottom: 16px;
    width: min(20%, 72px);
    height: min(20%, 72px);
}

.card h2 {
    color: var(--color-primary-light-coral);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}

.card p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    width: 100%;
    text-align: center;
    color: var(--color-primary-white);
    margin-top: 8px;
    opacity: 80%;
    font-weight: 600;
}

/* stories container section */
.stories-container {
    background-color: var(--color-secondary-jungle-green);
}

.stories-heading {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

.stories-heading h2 {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: bold;
    color: var(--color-primary-white);
    text-align: center;
}
.stories-heading span {
    color: var(--color-secondary-rapture-blue);
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.stories-card {
    width: 90%;
    margin: 0 auto;
    color: var(--color-primary-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories-card .quote {
    width: 15%;
    transform: translateY(40px);
}

.stories-card p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
    top: -50px;
    z-index: 1;
}

.stories-card h3 {
    color: var(--color-secondary-rapture-blue);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    margin-top: 16px;
}

.stories-card span {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-top: 2px;
    font-weight: 500;
    font-style: italic;
}

.stories-card .profile {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-top: 16px;
}

.stories-container .pattern-bg-5 img{
    margin-left: auto;
    margin-top: 64px;
}
