
/* intro container  */
.intro-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    color: var(--color-primary-white);
}

.pattern-intro-bg {
    display: none;
}
.intro-container h1 {
    width: min(70%, 240px);
    margin: 0 auto;
    margin-bottom: 18px;

}

.intro-container span {
    color: var(--color-primary-light-coral);
}

.line-style {
    display: none;
}

.intro-container p {
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}



.header-bg-pattern img {
    padding-top: 100px;
    margin: 0 auto;
    width: 95%;
}


/* cards container section */
.cards-container {
    background-color: var(--color-secondary-state-green);
    position: relative;
    overflow: hidden;
    padding-bottom: 64px;
}

.pattern-bg-3 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
}

.card-heading {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 56px;
}

.line-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 64px;
}
.line-deco {
    width: 50px;
    height: 4px;
    background-color: var(--color-primary-light-coral);
}

.card-heading h2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--color-primary-white);
    margin-top: 32px;
    width:240px;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.card {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    margin-bottom: 16px;
    width: 72px;
    height: 72px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.card h2 {
    color: var(--color-primary-light-coral);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}

.card p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    width: 100%;
    text-align: center;
    color: var(--color-primary-white);
    opacity: 80%;
    font-weight: 600;
}

/* stories container section */
.stories-container {
    background-color: var(--color-secondary-jungle-green);
}

.stories-heading {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

.stories-heading h2 {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: bold;
    color: var(--color-primary-white);
    text-align: center;
}
.stories-heading span {
    color: var(--color-secondary-rapture-blue);
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.stories-card {
    width: 90%;
    margin: 0 auto;
    color: var(--color-primary-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories-card .quote {
    width: 15%;
}

.stories-card p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 600;
    top: -18px;
    position: relative;
    z-index: 1;
}

.stories-card h3 {
    color: var(--color-secondary-rapture-blue);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}

.stories-card span {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-top: 2px;
    font-weight: 500;
    font-style: italic;
}

.stories-card .profile {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-top: 16px;
    border: 2px solid white;
}

.stories-container .pattern-bg-5 img{
    margin-left: auto;
    margin-top: 64px;
}

/* tablets */
@media (min-width:768px) {
    .intro-container {
        margin-top: 112px;
    }

   .intro-container h1 {
    width: 50%;
    margin-bottom: 24px;
   }
    
   .intro-container p {
     width: 70%;
     margin: 0 auto;
   }



   .header-bg-pattern img {
     width: min(40%, 358px);
   }

   /* cards container */
   .cards-container {
    padding: 100px 0;
   }
   .line-wrapper {
    width: 70%;
   }

   .card-heading  {
    width: 70%;
   }

   .card-heading h2 {
    width: 80%;
   }

   .card {
    width: 70%;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
   }

   .card img {
    margin: 0;
   }

   .card-info { 
      gap: 16px;
      align-items: flex-start;
   }

   .card P {
    text-align: left;
   }

   /* stories container section */
   .stories-heading {
    width: 60%;
    padding: 0;
   }

   .stories-card {
    width: 70%;
   }

   .stories-container .pattern-bg-5 img{
    margin-left: auto;
    margin-top: 0;
    }
}

/* laptops */
@media (min-width: 1024px) {
    .intro-container {
        display: flex;
        gap: 30px;
        align-items: flex-end;
    }
    
    /* .pattern-intro-bg {
        display: block;
        position: absolute;
        left: 0;
        transform: translateX(-50%);
    } */
    .intro-container h1{
      margin: 0;
      width: 50%;
      text-align: left;
    }
    
    .p-styling {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .line-style {
        display: block;
        width: 50px;
        height: 4px;
        background-color: var(--color-secondary-rapture-blue);
    }

    .intro-container p{
         margin: 0;
         width: 100%;
         font-size: 18px;
         text-align: left;
   }

   .header-bg-pattern {
    width: 90%;
    margin: 0 auto;
   }

   .header-bg-pattern img{
     margin: 0;
     margin-left: auto;
   }
   /* Cards container section */
   .cards-container {
    padding: 140px 0;
   }
   
   .line-wrapper {
    width: 90%;
    padding: 0;
   }
   .cards-container-wrapper {
    width: 90%;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding-top: 54px;
   }

   .pattern-bg-3 {
    bottom: 0;
    top: auto;
   }

   .card-heading {
    padding: 0;
    margin: 0;
    width: 40%;
   }


   .card-heading h2 {
    font-size: 48px;
    line-height: 48px;
    width: 100%;
    margin: 0;
   }

   .cards-wrapper {
    width: 50%;
   }

   .card {
    margin: 0;
    gap: 32px;
    width: 100%;
   }
/* stories container */
   .stories-wrapper {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
   }

   .stories-heading {
    width: 80%;
   }
   .stories-heading h2{
    padding-top: 40px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 56px;
   }

   .stories-container .pattern-bg-5 img{
    margin-top: 40px;
}
}



