
/* header styling */
header {
    background-color: var(--color-primary-green);
    padding-top: 48px;
}

/* navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

/* hide large screen navbar */
.large-screen-nav {
    display: none;
}

/* intro container  */
.intro-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    color: var(--color-primary-white);
}

.intro-container h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    width: min(70%, 240px);
    margin: 0 auto;
    margin-bottom: 18px;

}

.intro-container span {
    color: var(--color-primary-light-coral);
}

.intro-container p {
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
}

.header-bg-pattern {
    width: 100%;
    margin-top: 97px;
}

.header-bg-pattern img {
    width: 95%;
    margin: 0 auto;
}