/* === CSS RESET === */
:root {
  --font-family: 'Livvic', sans-serif;
  --color-primary-green: #014e56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #ffffff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-jungle-green: #004047;
  --color-secondary-state-green: #012f34;
  --color-secondary-dark-green: #002529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  color: var(--color-primary-white);
  text-align: center;
}

p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

/* global font styling */
body {
    font-family: var(--font-family);
}

/* tablets */
@media (min-width:768px) {
   h1 {
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0;
   }
}

/* laptops heading */
@media (min-width: 1024px) {
   h1 {
    font-size: 72px;
    line-height: 72px;
   }
}

/* large sceens */
@media (min-width: 1280px) {
   h1 {
    font-size: 100px;
    line-height: 100px;
   }
}

